/* PC Display */
@media (min-width: 1024px) {

}

/* Tablet & Mobile Display */
@media (max-width: 1023px) {
    #header {
        overflow: hidden;            /*Thuộc tính ẩn đi những thẻ con vượt ra ngoài phạm vi chứa*/
    }

    #navi {
        display: block;
        padding: 2px 0;
    }
  
    #navi > li {
        display: block;
    }

    #navi > li:first-child {
        display: inline-block;
    }

    #navi .subnavi {
        position: initial;
    }

    #navi .subnavi a {
        padding: 3px 38px;
    }

    #header .search-button {
        display: none;
    }

    #header .mb-menu-btn {
        display: block;
    }

    #travel .location-button {
        padding: 15px 16px;
    }

    #contact .contact-info {
        line-height: 2;
    }

    #contact .form-control {
        padding: 15px;
    }

    #footer .social-list {
        font-size: 42px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet Display */
@media (min-width: 740px) and (max-width: 1023px) {
    #slider .text-content {
        bottom: 132px;
    }

    #travel .location-desc {
        min-height: 65px;
    }

    #memory .col-fourth-1, .col-fourth-2 {
        width: 180px;
    }
}

/* Mobile Display */
@media (max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }
    .mt-65 {
        margin-top: -65px !important;
    }

    #slider .text-content {
        display: none;
    }

    #content .moment-pic {
        width: 60%;
    }

    #travel .location-img {
        height: 320px;
    }

    #travel .location-desc {
        min-height: 65px;
    }

    #travel .location-button {
        font-size: 17px;
        font-style: italic;
    }

    #memory .col-fourth-1, .col-fourth-2 {
        width: 190px;
    }

    #contact .contact-form {
        margin-top: 32px;
    }

    #contact .form-submit-btn {
        line-height: 24px;
        font-size: 17px;
    }
}