/* PC Responsive */
@media(min-width:1024px) {

}

/* Tablet Responsive */
@media(min-width:740px) and (max-width:1023px){
    #header {
        overflow: hidden;
    }
    
    #navi {
        display: block;
        padding: 2px 0;
    }

    #navi > li {
        display: block;
    }

    #navi > li:first-child {
        display: inline-block   ;
    }

    #navi .subnavi {
        position: initial;
    }

    #navi .subnavi a {
        padding: 5px 38px;
    }

    #header .search-button {
        display: none;
    }

    #header .mb-menu-btn {
        display: block;
    }

    #slider .text-content {
        bottom: 120px   ;
    }

    #travel .location-desc {
        min-height: 65px;
    }

    #memory .col-fourth-1, .col-fourth-2 {
        width: 180px;
    }
}

/* Mobile Responsive */
@media(max-width:740px) {
    #header {
        overflow: hidden;
    }
    
    #navi {
        display: block;
        padding: 2px 0;
    }

    #navi > li {
        display: block;
    }
    
    #navi > li:first-child {
        display: inline-block;
    }

    #navi .subnavi {
        position: initial;
    }
    
    #navi .subnavi a {
        padding: 5px 38px;
    }
    
    #header .search-button {
        display: none;
    }

    #header .mb-menu-btn {
        display: block;
    }

    #slider .text-content {
        display: none;
    }
}